@theme inline {
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
}

:root {
  --primary: var(--color-blue-600);
  --primary-foreground: var(--color-blue-50);
}

.dark {
  --primary: var(--color-blue-400);
  --primary-foreground: var(--color-blue-950);
}
