@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-white);
  --foreground: var(--color-zinc-900);
  --destructive: var(--color-red-500);
  --border: var(--color-zinc-200);
  --input: var(--color-zinc-200);
  --ring: var(--color-zinc-400);
}

.dark {
  --background: var(--color-zinc-950);
  --foreground: var(--color-zinc-50);
  --destructive: var(--color-red-400);
  --border: var(--color-zinc-800);
  --input: var(--color-zinc-700);
  --ring: var(--color-zinc-600);
}
